<app-drawer-layout>
    <app-drawer swipe-open slot="drawer">
        <app-header-layout has-scrolling-region>

            <app-header shadow waterfall fixed slot="header">
                <app-toolbar>
                    <div main-title>Caudex Browser</div>
                </app-toolbar>
            </app-header>

            <paper-icon-item class="iconItem">
                <iron-icon class="grayIcon" icon="dashboard" slot="item-icon"></iron-icon>
                <span>Dashboard</span>
            </paper-icon-item>
            <paper-icon-item class="iconItem">
                <iron-icon class="grayIcon" icon="search" slot="item-icon"></iron-icon>
                <span>Query</span>
            </paper-icon-item>
            <paper-icon-item class="iconItem">
                <iron-icon class="grayIcon" icon="info" slot="item-icon"></iron-icon>
                <span>Information</span>
            </paper-icon-item>
            <paper-icon-item class="iconItem">
                <iron-icon class="grayIcon" icon="settings" slot="item-icon"></iron-icon>
                <span>Settings</span>
            </paper-icon-item>
            
        </app-header-layout>
    </app-drawer>

    <app-header-layout>
        <app-header fixed condenses shadow slot="header">
            <app-toolbar>
                <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
                <div main-title><div drawer-toggle-title>Caudex Browser</div></div>
                <paper-icon-button icon="search"></paper-icon-button>
                <paper-icon-button icon="more-vert"></paper-icon-button>
            </app-toolbar>
        </app-header>

        <cg-query></cg-query>
        <cg-d3></cg-d3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu sem eros. Nullam consectetur porttitor pellentesque. Maecenas
            lobortis sem risus, nec sagittis neque lobortis sit amet. Sed facilisis vehicula mauris, a feugiat odio hendrerit
            ac. Duis tincidunt aliquam felis ac sollicitudin. Maecenas molestie, nisi at sollicitudin molestie, massa lectus
            sollicitudin risus, a lobortis neque mauris in arcu. Aenean enim nulla, molestie et interdum quis, blandit sit
            amet lacus. Vivamus fringilla sollicitudin scelerisque. Nunc a tortor a lacus maximus sodales. Etiam orci libero,
            suscipit non fermentum quis, gravida id magna. Nulla facilisi. Sed lorem nibh, rhoncus tincidunt felis sodales,
            faucibus sagittis sapien. Aenean iaculis sollicitudin leo id varius. Praesent congue eros urna, luctus faucibus
            leo cursus nec. Morbi vulputate orci et diam dapibus malesuada. Donec convallis in leo non tincidunt. Lorem ipsum
            dolor sit amet, consectetur adipiscing elit. Etiam ultricies lacinia turpis, eget imperdiet mi sollicitudin commodo.
            Donec sed luctus lorem. Etiam ut quam ornare, elementum tellus ut, maximus libero. Vivamus porta dolor vulputate
            vulputate rhoncus. Phasellus sodales maximus ante in ornare. Maecenas tellus neque, suscipit nec viverra a, sagittis
            vitae est. In elit mauris, lacinia eu lacus in, gravida faucibus nisi. Aenean accumsan augue tortor, elementum
            consectetur sapien mollis a. Donec malesuada tempor ex vitae placerat. Nulla dictum facilisis enim, ac laoreet
            dolor viverra in. Duis id quam pellentesque, mollis eros quis, rutrum mi. Vestibulum ornare enim ac magna convallis
            suscipit. Cras tempor nisl quis ligula ornare aliquam. Morbi velit mi, ultrices non aliquam eu, molestie id quam.
            Integer in nibh ac dolor euismod consectetur ut porttitor felis. Quisque porta, lectus eget finibus cursus, turpis
            ipsum fringilla lorem, non venenatis tortor tellus sed elit. Cras tempus fermentum laoreet. Praesent nec porttitor
            enim. Suspendisse iaculis est quis sem pharetra, eu congue nunc ultrices. Aliquam vehicula blandit ante, ac ornare
            tellus viverra id. Aenean diam lacus, suscipit nec orci mattis, tempor placerat tellus. Aenean viverra lacus
            ut felis mattis sollicitudin. Etiam metus lectus, molestie sit amet luctus a, pellentesque sit amet diam. In
            aliquam mi eu erat condimentum congue. Etiam imperdiet, eros ut lacinia porttitor, ex sem gravida elit, quis
            venenatis eros est non sem. Donec ut ipsum nec libero consectetur cursus. Aenean mattis leo sit amet diam sagittis,
            sed hendrerit eros accumsan.
        </p>
    </app-header-layout>
</app-drawer-layout>