// https://www.materialpalette.com/blue-grey/red

$dark-primary-color: #455A64; 
$default-primary-color:#607D8B; 
$light-primary-color: #CFD8DC; 
$text-primary-color: #FFFFFF; 
$accent-color: #FF5252; 
$primary-text-color: #212121; 
$secondary-text-color: #757575; 
$divider-color: #BDBDBD; 

@mixin dark-primary-color    { background: $dark-primary-color; }
@mixin default-primary-color { background: $default-primary-color; }
@mixin light-primary-color   { background: $light-primary-color; }
@mixin text-primary-color    { color: $text-primary-color; }
@mixin accent-color          { background: $accent-color; }
@mixin primary-text-color    { color: $primary-text-color; }
@mixin secondary-text-color  { color: $secondary-text-color; }
@mixin divider-color         { border-color: $divider-color; }